<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>
<body>
        <% include ../partials/navigation.html%>
        <h3>Cambiar telefono</h3>
        <p>Aqui podrá cambiar el número de telefono de su cuenta a uno nuevo.</p>
        <div class="form-wrap">
                <label class="form-label" for="numero-contacto"> Número de teléfono</label>
                <textarea class="form-input" id="numero-contacto" name="teléfono" data-constraints="@Required"></textarea>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-sm-7 col-lg-5">
                <a href="/micuenta" class="button">Guardar Cambios</a>
                </div>
              </div>

        <% include ../partials/footer.html%>
</body>
</html>