<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>

<body>
    <% include ../partials/navigation.html%>
    <div class="grid-container">
    <h3>Registro Empleado
        <p>LLene los datos solicitados para terminar el registro a nuestro sistema.</p>
    </h3>
</div>
    <hr>
    <article class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-4 cell">
                <img class="thumbnail" src="https://placehold.it/350x200">
                <div class="small secondary expanded button-group">
                    <a class="button">Facebook</a>
                    <a class="button">Twitter</a>
                    <a class="button">Instagram</a>
                </div>
                <hr>
            </div>
            <div class="medium-6 large-5 cell large-offset-1">
                <h3>Nombre Empleado</h3>
                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                    aliquet egestas purus in.</p>
                    <hr>
                    <h4>Cargo del empleado: </h4>
                    <hr>
                    <div class="grid-x">
                        <div class="small-3 cell">
                            <label for="middle-label" class="middle">Correo</label>
                        </div>
                        <div class="small-9 cell">
                            <input type="text" id="middle-label" placeholder="">
                        </div>
                    </div> 
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Teléfonos</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div>
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Titulos</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div> 
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Años en la empresa</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div> 
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Horario</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div> 
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Sueldo</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div> 
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Experiencia</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div> 
                </div>
            </div>
            <a href="/personal" class="button">Agregar Empleado</a>
        <hr>
    </article>
</body>

</html>


<% include ../partials/footer.html%>
</body>

</html>