<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include ../partials/head.html%>
</head>

<body>
        <% include ../partials/navigation.html%>

    <article class="grid-container">
            <h3>Agregar Producto</h3>
            <p>Agregue los productos nuevos que seran lanzados en nuestra empresa</p>
            <br>
        <div class="grid-x grid-margin-x">
            <div class="medium-5 cell">
                <img class="thumbnail" src="https://placehold.it/400x250">
            </div>
            <div class="medium-6 large-5 cell large-offset-1">
                <h3>Producto</h3>
                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                    aliquet egestas purus in.</p>
                <label>Tamaños
                    <select>
                        <option value="husker">Pequeño</option>
                        <option value="starbuck">Mediano</option>
                        <option value="hotdog">Grande</option>
                    </select>
                </label>
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Cantidad</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div>
                <div class="grid-x">
                        <div class="small-3 cell">
                            <label for="middle-label" class="middle">Caracteristicas</label>
                        </div>
                        <div class="small-9 cell">
                            <input type="text" id="middle-label" placeholder="">
                        </div>
                    </div>
                    <div class="grid-x">
                            <div class="small-3 cell">
                                <label for="middle-label" class="middle">Color</label>
                            </div>
                            <div class="small-9 cell">
                                <input type="text" id="middle-label" placeholder="">
                            </div>
                        </div>
                        <div class="grid-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="middle">Ingredientes</label>
                                </div>
                                <div class="small-9 cell">
                                    <input type="text" id="middle-label" placeholder="">
                                </div>
                            </div>
                <a href="/tipocerveza" class="button large expanded">Agregar Producto</a>
            </div>
        </div>
        <hr>
    </article>
    <% include ../partials/footer.html%>
</body>

</html>