<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include ../partials/head.html%>
</head>

<body>
        <% include ../partials/navigation.html%>

    <article class="grid-container">
            <h3>Modificar Cerveza</h3>
            <p>Modifique la caracteristica u opción que desee de los productos de nuestra empresa</p>
            <br>
        <div class="grid-x grid-margin-x">
            <div class="medium-5 cell">
                <img class="thumbnail" src="https://placehold.it/400x250">
            </div>
            <div class="medium-6 large-5 cell large-offset-1">
                <h3>Producto</h3>
                <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                    aliquet egestas purus in.</p>
                <label>Tamaños
                    <select>
                        <option value="husker">Pequeño</option>
                        <option value="starbuck">Mediano</option>
                        <option value="hotdog">Grande</option>
                    </select>
                </label>
                <div class="grid-x">
                    <div class="small-3 cell">
                        <label for="middle-label" class="middle">Cantidad</label>
                    </div>
                    <div class="small-9 cell">
                        <input type="text" id="middle-label" placeholder="">
                    </div>
                </div>
                <div class="grid-x">
                        <div class="small-3 cell">
                            <label for="middle-label" class="middle">Caracteristicas</label>
                        </div>
                        <div class="small-9 cell">
                            <input type="text" id="middle-label" placeholder="">
                        </div>
                    </div>
                    <div class="grid-x">
                            <div class="small-3 cell">
                                <label for="middle-label" class="middle">Color</label>
                            </div>
                            <div class="small-9 cell">
                                <input type="text" id="middle-label" placeholder="">
                            </div>
                        </div>
                        <div class="grid-x">
                                <div class="small-3 cell">
                                    <label for="middle-label" class="middle">Ingredientes</label>
                                </div>
                                <div class="small-9 cell">
                                    <input type="text" id="middle-label" placeholder="">
                                </div>
                            </div>
                <a href="/tipocerveza" class="button large expanded">Guardar Cambios</a>
            </div>
        </div>
        <div class="">
            <hr>
            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title"><a href="#panel1">Productos Similares</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <div class="media-object stack-for-small">
                        <div class="media-object-section">
                            <img class="thumbnail" src="https://placehold.it/200x200">
                        </div>
                        <div class="media-object-section">
                            <h5>Producto similar</h5>
                            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                                    aliquet egestas purus in.</p>
                        </div>
                    </div>
                    <div class="media-object stack-for-small">
                        <div class="media-object-section">
                            <img class="thumbnail" src="https://placehold.it/200x200">
                        </div>
                        <div class="media-object-section">
                            <h5>Producto similar</h5>
                            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                                    aliquet egestas purus in.</p>
                        </div>
                    </div>
                    <div class="media-object stack-for-small">
                        <div class="media-object-section">
                            <img class="thumbnail" src="https://placehold.it/200x200">
                        </div>
                        <div class="media-object-section">
                            <h5>Producto similar</h5>
                            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
                                    pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis
                                    aliquet egestas purus in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </article>
    <% include ../partials/footer.html%>
</body>

</html>