<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>
<body>
    <% include ../partials/navigation.html%>
    <hr>
    <h2>Eliminar un proveedor</h2>
    <hr>
    <p>Para eliminar un proveedor introduzca los datos solicitados</p>

    <h4>RIF</h4>
              <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <hr>

                <h4>Pagina Web</h4>
              <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <hr>

                <a href="/proveedores" class="button">Eliminar</a>

    <% include ../partials/footer.html%>
</body>
</html>