<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>
<body>
    <% include ../partials/navigation.html%>

    <h3>Modificar Datos</h3>
    <p>Puede modificar algún de los campos llenados anteriormente</p>
    <hr>
    <h4>Razón social</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Denominacion Comercial</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>RIF</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Direccion Fiscal</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Direccion Fisica</h4>
      <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="">
        </div>
        <hr>
        <h4>Telefono Contacto</h4>
      <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="">
        </div>
        <hr>
        <h4>Telefono Contacto 2 </h4>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="">
          </div>
          <hr>
          <h4>Personal de Contacto</h4>
          <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="">
            </div>
            <hr>
            <h4>Correo Electronico</h4>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="">
              </div>
              <hr>
              <h4>Pagina Web</h4>
              <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="">
                </div>
                <hr>
                <h4>Clasificacion de Cervezas Fabricadas</h4>
                <select>
                        <option value="Cerveza-1">Cerveza 1</option>
                        <option value="Cerveza-2">Cerveza 2</option>
                        <option value="Cerveza-3">Cerveza 3</option>
                        <option value="Cerveza-4">Cerveza 4</option>
                      </select>
                    <hr>
                    <a href="/proveedores" class="button">Aplicar Cambios</a>
    <% include ../partials/footer.html%>
</body>
</html>