<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>
<body>
    <% include ../partials/navigation.html%>
    <hr>
    <h3>LLene la siguiente informacion para un evento nuevo</h3>
    <hr>
    <h4>Locacion</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Proveedores</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Productos en venta</h4>
      <select>
        <option value="Cerveza-1">Cerveza 1</option>
        <option value="Cerveza-2">Cerveza 2</option>
        <option value="Cerveza-3">Cerveza 3</option>
        <option value="Cerveza-4">Cerveza 4</option>
      </select>
      <hr>
      <h4>Entradas Disponibles</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Fecha de Evento</h4>
      <input type="date" name="fecha">
        <hr>
            <a href="/eventos" class="button"> Agregar Evento</a>
    <% include ../partials/footer.html%>
</body>
</html>