<head>
        <% include partials/head.html%>
</head>
    
    <body>
        <% include partials/navigation.html%>

<div class="testbox">
  <h1>Afiliacion</h1>

  <form action="/">
      <hr>
    <div class="accounttype">
         <input type="radio" value="None" id="radioOne" name="account" checked/>
        <label for="radioOne" class="radio" chec>Personal</label>
      <input type="radio" value="None" id="radioTwo" name="account" />
      <label for="radioTwo" class="radio">Compañia</label>
    </div>
  <hr>
  <label id="icon" for="Nombre"><i class="icon-envelope "></i></label>
  <input type="text" name="Nombre" id="Nombre" placeholder="Nombres" required/>
  <label id="icon" for="Nombre"><i class="icon-envelope "></i></label>
  <input type="text" name="Nombre" id="Nombre" placeholder="Apellidos" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" id="name" placeholder="Correo" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="name" id="name" placeholder="Cedula de identidad" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="name" id="name" placeholder="Rif" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="password" name="name" id="name" placeholder="Telefonos" required/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input type="text" name="name" id="name" placeholder="Direccion" required/>
  <hr>
  <ul>¿Desea un carnet de afiliacion?<a href="/carnet">Click aqui</a></ul>
  <hr>
  <h5>Metodos de Pago</h5>
  <p>
        <a class="btn btn-primary" data-toggle="collapse" href="/metodopago" role="button" aria-expanded="true" aria-controls="collapseExample">
        Tarjeta credito</a>
        </a>
        <a class="btn btn-primary" data-toggle="collapse" href="/metodopago" role="button" aria-expanded="true" aria-controls="collapseExample">
          Tarjeta debito</a>
        </a>
      </p>
        <form action="/">
            <hr>
   <a href="#" class="button">Afiliar</a>
  </form>
  <% include partials/footer.html%>
</div>
</div>
