<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>
<body>
    <% include partials/navigation.html%>
    <h4>Nombre</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Razon Social</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <h4>Cedula o RIF</h4>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <hr>
      <script type="text/javascript">
      var cantidadNumeros = 8;
var myArray = []
while(myArray.length < cantidadNumeros ){
  var numeroAleatorio = Math.ceil(Math.random()*cantidadNumeros);
  var existe = false;
  for(var i=0;i<myArray.length;i++){
	if(myArray [i] == numeroAleatorio){
        existe = true;
        break;
    }
  }
  if(!existe){
    myArray[myArray.length] = numeroAleatorio;
  }

}
        </script>

      <h4>Numero Identificador</h4>
    <div class="input-group input-group-lg">
        <script>document.write(myArray);</script>
      </div>
      <hr>
      <h4>Codigo QR</h4>
      <div class="large-6 cell">
        <p><img src="/img/mario.png" alt="image for article"
                alt="article preview image"></p>
    </div>
      <hr>
      <form action="/">
<a href="#" class="button">Generar</a>
</form>    
</body>
<% include partials/footer.html%>
</html>