<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>
<body>
        <% include partials/navigation.html%>
        <hr>
        <div class="grid-container">
        <h3>Introduzca el codigo de recuperacion enviado al correo colocado</h3>
        <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="">
              </div>
              <form action="/">
                <hr>
                <a href="/micuenta" class="button">Enviar</a>
              </form>
            </div>

        <% include partials/footer.html%>
</body>
</html>