<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include partials/head.html%>


</head>

<body>

  <% include partials/navigation.html%>

  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
        <br>
          <h1><span><strong>Contáctanos</strong></span></h1>
    </div>
    <div class="medium-6 cell">
      <label>Nombre
        <input type="text" placeholder="">
      </label>
      <label>Correo
        <input type="text" placeholder="">
      </label>
      <label>
        Mensaje
        <textarea placeholder=""></textarea>
      </label>
      <input type="submit" class="button expanded" value="Submit">
    </div>
  </div>
  <div class="large-solid-header">
    <div class="container">
      <div class="row align-items-center h-100">
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="grid-x grid-margin-x">
          <div class="medium-4 cell">
            <h3>Administrador 1</h3>
            <div class="media-object">
              <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100">
              </div>
            </div>
            <p>
              <h5>Telefono: ####-#######
                <br>
                Correo: ejemplo@.com</h5>
            </p>
          </div>
          <div class="medium-4 cell">
            <h3>Administrador 2</h3>
            <div class="media-object">
              <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100">
              </div>
            </div>
            <p>
              <h5>Telefono: ####-#######
                <br>
                Correo: ejemplo@.com</h5>
            </p>
          </div>
          <div class="medium-4 cell">
            <h3>Administrador 3</h3>
            <div class="media-object">
              <div class="media-object-section">
                <img class="thumbnail" src="https://placehold.it/100">
              </div>
            </div>
            <p>
              <h5>Telefono: ####-#######
                <br>
                Correo: ejemplo@.com</h5>
            </p>
          </div>
        </div>
        <h4><strong>Contactos</strong></h4>
        <p>
          <h5><strong>Telefonos:</strong> ####-####### • <strong>Horarios:</strong> Lun-Vie: 7:30 AM to 9:00 PM •
            <strong>Ubicacion: Montalban/ UCAB</strong> <br><strong></h5>
        </p>
      </div>
    </div>
  </div>
  </div>
  <br><br>


  </div>
  </main>

  <div class="d-block d-lg-none"><br><br></div>


</body>

</html>
<% include partials/footer.html%>

</html>