<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>
<body>
    <% include partials/navigation.html%>

    <h3>Recuperacion de contraseña</h3>
    <hr>
    <h6>Introduzca el correo al que se le mandara un codigo de recuperacion</h6>
    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="">
      </div>
      <form action="/">
        <hr>
        <a href="#" class="button">Mandar</a>
      </form>
</body>
<% include partials/footer.html%>
</html>