<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>
<body>
        <% include partials/navigation.html%>

        <div class="container">
                        <hr>
                        <div class="thumbnail">
                            <div class="caption">
                                <h4 class="pull-right">Descripcion</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                                    <ul class="menu simple">
                                        <li><a href="descrip-direccion/editar-dir">Editar |</a></li>
                                        <li><a href="descrip-direccion/eliminar-dir">Eliminar |</a></li>
                                        <li><a href="/micuenta">Definir como principal</a></li>
                                    </ul>
                        </div>

                        <hr>
                    <h4><a href="descrip-direccion/agregar-dir">Agregar nueva direccion</a></h4>
          
        </div>
        </div>
            

        <% include partials/footer.html%>
</body>
</html>