<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include partials/head.html%>
</head>

<body>

    <% include partials/navigation.html%>
    <div class="grid-container">
    <hr>
        <div class="text-center">
            <h4 style="margin: 0;" class="text-center">Eventos</h4>
        </div>
        <hr>
        <div class="grid-x cell">
            <div class="callout small-12 primary">
                <h6><strong> Quiere realizar un evento con nosotros<a
                            href="descrip-evento/agregarevento">CLICK AQUI</a></strong></h6>
            </div>
        </div>
        <hr>
    <article class="grid-container">
        <div class="grid-x grid-margin-x" id="content">
            <div class="medium-9 cell">
                <div class="blog-post">
                    <h3><a href="/descrip-evento/evento1">Evento 1</a><small>7/09/2019</small></h3>
                    <img class="thumbnail" src="https://placehold.it/650x350">
                    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo
                        dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
                        ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
                        faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                    <div class="callout">
                        <ul class="menu simple">
                            <li>Autor: Mike Mikers</li>
                            <li>Comentarios: 3</li>
                            <script type="text/javascript">
                                function ConfirmDemo() {
                                    //Ingresamos un mensaje a mostrar
                                    var mensaje = confirm("¿Seguro quiere eliminar el evento?");
                                    //Detectamos si el usuario acepto el mensaje
                                    if (mensaje) {
                                        alert("¡Eliminado!");
                                    }
                                    //Detectamos si el usuario denegó el mensaje
                                    else {
                                        alert("¡Haz cancelado la operacion!");
                                    }
                                }
                            </script>
                            <hr>
                            <li>
                                <input type="button" onclick="ConfirmDemo()" value="Click para eliminar evento"/> 
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="blog-post">
                    <h3><a href="/descrip-evento/evento2">Evento 2</a><small>7/09/2019</small></h3>
                    <img class="thumbnail" src="https://placehold.it/650x350">
                    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo
                        dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
                        ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
                        faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                    <div class="callout">
                        <ul class="menu simple">
                            <li>Autor: Mike Mikers</li>
                            <li>Comentarios: 3</li>
                            <script type="text/javascript">
                                function ConfirmDemo() {
                                    //Ingresamos un mensaje a mostrar
                                    var mensaje = confirm("¿Seguro quiere eliminar el evento?");
                                    //Detectamos si el usuario acepto el mensaje
                                    if (mensaje) {
                                        alert("¡Eliminado!");
                                    }
                                    //Detectamos si el usuario denegó el mensaje
                                    else {
                                        alert("¡Haz cancelado la operacion!");
                                    }
                                }
                            </script>
                            <hr>
                            <li>
                                <input type="button" onclick="ConfirmDemo()" value="Click para eliminar evento"/> 
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="blog-post">
                    <h3><a href="/descrip-evento/evento3">Evento 3</a><small>7/09/2019</small></h3>
                    <img class="thumbnail" src="https://placehold.it/650x350">
                    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo
                        dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
                        ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
                        faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                    <div class="callout">
                        <ul class="menu simple">
                            <li>Autor: Mike Mikers</li>
                            <li>Comentarios: 3</li>
                            <script type="text/javascript">
                                function ConfirmDemo() {
                                    //Ingresamos un mensaje a mostrar
                                    var mensaje = confirm("¿Seguro quiere eliminar el evento?");
                                    //Detectamos si el usuario acepto el mensaje
                                    if (mensaje) {
                                        alert("¡Eliminado!");
                                    }
                                    //Detectamos si el usuario denegó el mensaje
                                    else {
                                        alert("¡Haz cancelado la operacion!");
                                    }
                                }
                            </script>
                            <hr>
                            <li>
                                <input type="button" onclick="ConfirmDemo()" value="Click para eliminar evento"/> 
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="blog-post">
                    <h3><a href="/descrip-evento/evento4">Evento 4</a><small>7/09/2019</small></h3>
                    <img class="thumbnail" src="https://placehold.it/650x350">
                    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo
                        dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
                        ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
                        faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                    <div class="callout">
                        <ul class="menu simple">
                            <li>Autor: Mike Mikers</li>
                            <li>Comentarios: 3</li>
                            <script type="text/javascript">
                                function ConfirmDemo() {
                                    //Ingresamos un mensaje a mostrar
                                    var mensaje = confirm("¿Seguro quiere eliminar el evento?");
                                    //Detectamos si el usuario acepto el mensaje
                                    if (mensaje) {
                                        alert("¡Eliminado!");
                                    }
                                    //Detectamos si el usuario denegó el mensaje
                                    else {
                                        alert("¡Haz cancelado la operacion!");
                                    }
                                }
                            </script>
                            <hr>
                            <li>
                                <input type="button" onclick="ConfirmDemo()" value="Click para eliminar evento"/> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        <div class="grid-x cell">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="disabled">Previous</li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="ellipsis"></li>
                <li><a href="#" aria-label="Page 12">12</a></li>
                <li><a href="#" aria-label="Page 13">13</a></li>
                <li><a href="#" aria-label="Next page">Next</a></li>
            </ul>
        </div>
        </div>
    </article>
    <% include partials/footer.html%>
</body>

</html>