<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="grid-container">
    <hr>
    <h3>Horarios</h3>
    <h5>Aqui iran las horas de los empleados de nuestra empresa.</h5>
    <hr>
    <h3>Turnos </h3>
    <hr>
    <h4>Mañana</h4>
    <h5>7:00 am - 12:30 pm</h5>
    <hr>
    <h4>Tarde</h4>
    <h5>2:00 pm - 5:30 pm</h5>
    <hr>
    <h3>Manejo de vacaciones</h3>
    <h5>Aqui iran las vacaciones de los empleados de nuestra empresa.</h5>
    <hr>
    <h3>Calendario</h3>
    <form>
        <div class="grid-x">
            <div class="small-5 cell">
                <input type="date" name="fecha">
            </div>
    </form>
    </div>
    <hr>
    <h3>Anuncios importantes</h3>
    <hr>
    <h5>• Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
        delectus aperiam nesciunt magni facilis ullam.There is beauty in space, and it is orderly. There is no weather,
        and there is
        regularity. It is predictable. Everything in space obeys the laws of physics. If you know these
        laws, and obey them, space will treat you kindly</h5>
        <hr>
    <h5>• Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
        delectus aperiam nesciunt magni facilis ullam.</h5>
    </div>
</div>

    <% include partials/footer.html%>
</body>

</html>