<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.html%>
</head>

<body>
  <% include partials/navigation.html%>
  <div class="grid-container">
  <body>
    <div class="login">
      <div class="heading">
        <h2>Iniciar sesion</h2>
        <form action="#">
            <form>
                <div class="grid-x">
                    <div class="small-10 cell">    
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Cedula de identidad">
              </div>
  
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña">
              </div> 
                 </div>
            </form>
          <form action="/">
            <hr>
            <ul>¿Olvidó la contraseña?<a href="/contrasena">Click aqui</a></ul>
            <form action="/">
              <hr>

              <a href="/micuenta" class="button">Entrar</a>
            </form>
      </div>
    </div>
    </div>
    <% include partials/footer.html%>
  </body>

</html>