<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="container">
    <h3>Mi cuenta</h3>
        <hr>
        <div class="grid-x grid-margin-x">
            <div class="large-8 cell" style="border-left: 1px solid #E3E5E8;">
                <div class="grid-x grid-margin-x">
                    <div class="large-4 cell">
                        <p><img src="https://placehold.it/200x200&text=Look at me!" alt="image for article"
                                alt="article preview image"></p>
                    </div>
            <div class="cell auto">
            <h5>Nombre Persona</h5>
            <p>Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.</p>
            <h5><strong>Puntos acumulados: </strong>$##</h5>
            </div>
            </div>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
            <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="my-info"></button>
            <span class="title-bar-title">Mike Mikerson</span>
            </div>
            </div>
    <div class="medium-6 cell" data-sticky-container>
        
        <div class="sticky" data-sticky data-anchor="content">
            <h5><a href = "">Pedidos</a></h5>
            <hr>
            <h5><a href = "">Seguridad</a></h5>
            <hr>
            <h5><a href = "/metodopago">Metodos de Pago</a></h5>
            <hr>
            <h5><a href = "">Direccion</a></h5>
            <hr>
        </div>
                <h5><a href="/iniciosesion">Cambiar de cuenta</a></h5>
                <hr>
                <h5><a href="#">Carnet de Afiliacion</a></h5>
                <hr>
    </div>
    </div>
</div>

</body>
<% include partials/footer.html%>

</html>