<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-7 large-4 cell">
            <div class="medium-6 cell" data-sticky-container>
                <div class="sticky" data-sticky data-anchor="content">
                    
                    <h4>Pedidos</h4>
                    <ul>
                        <li><a href="/descrip-pedido/pedidoencurso">Pedidos en curso</a></li>
                        <li><a href="/descrip-pedido/pedidocancelado">Pedidos cancelados</a></li>
                        <li><a href="/descrip-pedido/listadeseo">Lista de deseo</a></li>
                        <li><a href="/descrip-pedido/pedidoportiempo">Pedidos en los últimos meses</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <form>
                <div class="text-center">
                <div class="grid-x">
                    <div class="small-16 cell">
                        <label>Busca el/los pedidos
                            <input type="text"> <a href="" class="button">Buscar</a>
                        </label>
                    </div>
                    </div>
                    </div>
            </form>
            <hr>
        <hr>
        <div class="container">
            <hr>
                    <div class="thumbnail">
                        <img src="https://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">BS##</h4>
                            <h4><a href="#">Producto</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>

                    <div class="thumbnail">
                        <img src="https://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">BS##</h4>
                            <h4><a href="#">Producto</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>

                    <div class="thumbnail">
                            <img src="https://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">BS##</h4>
                                <h4><a href="#">Producto</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>

                        <div class="thumbnail">
                                <img src="https://placehold.it/320x150" alt="">
                                <div class="caption">
                                    <h4 class="pull-right">BS##</h4>
                                    <h4><a href="#">Producto</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                    <hr>
      
    </div>
    </div>
    </div>
    <% include partials/footer.html%>
</body>

</html>