<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="grid-container">
    <hr>
        </div>
        <h3>Empleados por departamentos</h3>
        <hr>
        <article class="grid-container">
            <div class="grid-x grid-margin-x small-up-5 medium-up-4 large-up-4">
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                                <div class="grid-x grid-margin-x">
                                        <div class="large-12 cell">
                                                <h5><a href="/descrip-empleado/empleado1">Nombre Empleado</a></h5>
                                            </div>
                                    <div class="large-12 cell">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                            delectus aperiam nesciunt magni facilis ullam.</p>
                                            <script type="text/javascript">
                                                function ConfirmDemo() {
                                                    //Ingresamos un mensaje a mostrar
                                                    var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                                    //Detectamos si el usuario acepto el mensaje
                                                    if (mensaje) {
                                                        alert("¡Eliminado!");
                                                    }
                                                    //Detectamos si el usuario denegó el mensaje
                                                    else {
                                                        alert("¡Haz cancelado la operacion!");
                                                    }
                                                }
                                            </script>
                                            
                                                <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                            
                                            <hr>
                                    </div>
                                </div>
                </div>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado2">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado3">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado4">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado5">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado6">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado7">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <img class="thumbnail" src="https://placehold.it/350x250">
                    <div class="grid-x grid-margin-x">
                            <div class="large-12 cell">
                                    <h5><a href="/descrip-empleado/empleado8">Nombre Empleado</a></h5>
                                </div>
                        <div class="large-12 cell">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                                delectus aperiam nesciunt magni facilis ullam.</p>
                                <script type="text/javascript">
                                    function ConfirmDemo() {
                                        //Ingresamos un mensaje a mostrar
                                        var mensaje = confirm("¿Seguro quiere eliminar al empleado?");
                                        //Detectamos si el usuario acepto el mensaje
                                        if (mensaje) {
                                            alert("¡Eliminado!");
                                        }
                                        //Detectamos si el usuario denegó el mensaje
                                        else {
                                            alert("¡Haz cancelado la operacion!");
                                        }
                                    }
                                </script>
                                
                                    <input type="button" onclick="ConfirmDemo()" value="Click para eliminar un empleado"/> 
                                
                                
                                <hr>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Gestion de horarios</h3>
            <p>Aqui se vera los turnos asignados y los dias de trabajo de cada empleado de la empresa. Se llevara el seguimiento de la misma</p>
            <a href="/horarios">Ver y manejar los horarios</a>
            <hr>
            <h3>Gestion del Personal</h3>
            <p>Se llevará a cabo la modificacion de datos de los empleados de nuestra empresa</p>
            <h5><a href="descrip-empleado/modificarempleado">Click Aqui para modificar algún empleado</a></h5>
            <hr>
            <h3>Nuevo Personal</h3>
            <p>Se registrará a los nuevos miembros de nuestra empresa</p>
            <h5><a href="descrip-empleado/agregarempleado"> Click Aqui para registrarlo</a></h5>
            <hr>
            <div class="grid-x grid-margin-x">
                <div class="medium-4 cell">
                    <h3>Mision</h3>
                    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                        nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
                </div>
                <div class="medium-4 cell">
                    <h3>Vision</h3>
                    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                        nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
                </div>
                <div class="medium-4 cell">
                    <h3>Objetivos</h3>
                    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                        nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
                </div>
            </div>
            <hr>
            <h3>Blog de nuestros empleados</h3>
            <hr>
            <div class="blog-post">
                <h3>Titulo opinion</h3>
                <img class="thumbnail" src="https://placehold.it/250x150">
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                </div>
            <hr>
            <div class="blog-post">
                <h3>Titulo opinion</h3>
                <img class="thumbnail" src="https://placehold.it/250x150">
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                </div>
            <hr>
            <div class="blog-post">
                <h3>Titulo opinion</h3>
                <img class="thumbnail" src="https://placehold.it/250x150">
                <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                </div>
        </article>
        <hr>
    </div>
</div>

    <% include partials/footer.html%>
</body>

</html>