<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head.html%>
</head>
<body>
    <% include partials/navigation.html%>
    <div class="grid-container">
    <div class="row">
        <div class="col-md-8">
        <div class="grid-x grid-margin-x">
            <div class="large-12 cell">
            <h3>Presupuesto</h3>
            <h6><strong>(Debe tener un usuario para esta opcion). Si no tiene, afíliese <a href="/afiliarse">aqui</a> </strong></h6>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Nombre Completo:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Introduzca datos.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls">
                        <label>Número Registro:</label>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Introduzca datos">
                        <p class="help-block"></p>
                    </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Productos a reservar:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Por favor coloque los productos" maxlength="999" style="resize:none"></textarea>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Comprar</button>    
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</body>
<% include partials/footer.html%>
</html>