<html lang="en">

<head>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<% include partials/head.html%>
	</head>

<body>
	<% include partials/navigation.html%>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<hr>
				<h3>Servicio al cliente</h3>
				<hr>
				<div class="wrap-input100 validate-input bg1" data-validate="Introduzca nombre">
					<span class="label-input100">Nombres *</span>
					<input class="input100" type="text" name="name" required>
				</div>
				<hr>
				<div class="wrap-input100 validate-input bg1" data-validate="Introduzca apellidos">
						<span class="label-input100">Apellidos *</span>
						<input class="input100" type="text" name="name" required>
					</div>
					<hr>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100"
					data-validate="Introduzca correo (e@a.x)">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" required>
				</div>
				<hr>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Teléfono</span>
					<input class="input100" type="text" name="phone" required>
				</div>
				<hr>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate"
					data-validate="Please Type Your Message">
					<span class="label-input100">Introduzca el mensaje</span>
					<textarea class="input100" name="message" required></textarea>
				</div>
				<hr>
				<form action="/">
		   <a href="#" class="button">Enviar</a>
		  </form>
				</div>
			</form>
		</div>
	</div>
	<% include partials/footer.html%>

</html>