<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% include partials/head.html%>

</head>

<body>

    <% include partials/navigation.html%>


    <article class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 cell small-order-2 medium-order-1">
                <hr>
                <h2>Nuestro negocio</h2>
                <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                    nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor
                    mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna
                    ac lorem rutrum elementum. Donec viverra auctor.</p>
            </div>
            <hr>
            <div class="medium-6 cell small-order-1 medium-order-2">
                <hr>
                <img class="thumbnail" src="https://placehold.it/650x350">
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="medium-4 cell">
                <h3>Locacion</h3>
                <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                    nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
            </div>
            <div class="medium-4 cell">
                <h3>Numeros</h3>
                <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                    nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
            </div>
            <div class="medium-4 cell">
                <h3>Correos</h3>
                <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed
                    nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
            </div>
        </div>
        <hr>
        <hr>
        <div class="grid-x cell">
            <div class="callout small-12 primary">
                <h6><strong> Sabe que puede pedir un presupuesto antes de realizar la compra.<a
                            href="/presupuesto">CLICK AQUI</a></strong></h6>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row column">
            <h3>Mas vendidos en tienda!!!</h3>
        </div>
        <div class="grid-x grid-margin-x medium-up-3 large-up-4">
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
        </div>
        <hr>
        <div class="row column">
            <h3>Descuentos actuales en tienda!!!</h3>
        </div>
        <div class="grid-x grid-margin-x medium-up-3 large-up-4">
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
        </div>
        <hr>
        <div class="row column">
            <h3>Clasicos en tienda</h3>
        </div>
        <div class="grid-x grid-margin-x medium-up-3 large-up-4">
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
            <div class="cell">
                <img class="thumbnail" src="https://placehold.it/150x150">
            </div>
        </div>
        <hr>
        <div class="grid-x cell">
                <div class="callout small-12 primary">
                    <h6><strong> Vea los metodos de pago que ofrece nuestro negocio en la tienda!<a
                                href="/metodopagotienda">CLICK AQUI</a></strong></h6>             
                </div>
        </div>
        <hr>   
        <h3><a href="/personal">Nuestro personal</a></h3>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="grid-x grid-margin-x">
                        <div class="medium-4 cell">
                            <div class="media-object">
                                <div class="media-object-section">
                                    <img class="thumbnail" src="https://placehold.it/100">
                                    <h6>Nombre Empleado</h6>
                                    <div class="medium-6 cell small-order-2 medium-order-1">
                                        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum
                                            facilisis porta. Sed
                                            nec diam eu diam</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <h5>Telefono: ####-#######
                                    <br>
                                    Correo: ejemplo@.com</h5>
                            </p>
                        </div>
                        <div class="medium-4 cell">
                            <div class="media-object">
                                <div class="media-object-section">
                                    <img class="thumbnail" src="https://placehold.it/100">
                                    <h6>Nombre Empleado</h6>
                                    <div class="medium-6 cell small-order-2 medium-order-1">
                                        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum
                                            facilisis porta. Sed
                                            nec diam eu diam</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <h5>Telefono: ####-#######
                                    <br>
                                    Correo: ejemplo@.com</h5>
                            </p>
                        </div>
                        <div class="medium-4 cell">
                            <div class="media-object">
                                <div class="media-object-section">
                                    <img class="thumbnail" src="https://placehold.it/100">
                                    <h6>Nombre Empleado</h6>
                                    <div class="medium-6 cell small-order-2 medium-order-1">
                                        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum
                                            facilisis porta. Sed
                                            nec diam eu diam</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <h5>Telefono: ####-#######
                                    <br>
                                    Correo: ejemplo@.com</h5>
                            </p>
                        </div>
                        <h3><a href="/proveedores">Nuestros Proveedores</a></h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="grid-x grid-margin-x">
                                        <div class="medium-4 cell">
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img class="thumbnail" src="https://placehold.it/100">
                                                    <h6>Nombre Proveedor</h6>
                                                    <div class="medium-6 cell small-order-2 medium-order-1">
                                                        <p>Vivamus luctus urna sed urna ultricies ac tempor dui
                                                            sagittis. In condimentum facilisis porta. Sed
                                                            nec diam eu diam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <h5>Telefono: ####-#######
                                                    <br>
                                                    Correo: ejemplo@.com</h5>
                                            </p>
                                        </div>
                                        <div class="medium-4 cell">
                                            <div class="media-object">
                                                <div class="media-object-section">
                                                    <img class="thumbnail" src="https://placehold.it/100">
                                                    <h6>Nombre Provedor</h6>
                                                    <div class="medium-6 cell small-order-2 medium-order-1">
                                                        <p>Vivamus luctus urna sed urna ultricies ac tempor dui
                                                            sagittis. In condimentum facilisis porta. Sed
                                                            nec diam eu diam</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <h5>Telefono: ####-#######
                                                    <br>
                                                    Correo: ejemplo@.com</h5>
                                            </p>
                                        </div>
                                        
    </article>

    <% include partials/footer.html%>
    </article>
</body>

</html>