<div class="grid-container">
        <div class="top-bar" id="mainNavigation">
            <div class="top-bar-left">
                <ul class="menu vertical medium-horizontal">
                    <li class="menu-text"><a href="/">ACAVUCAB</a></li>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/tipocerveza">Tipo Cervezas</a></li>
                    <li><a href="/eventos">Eventos</a></li>
                    <li><a href="/tienda">Tienda</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu vertical medium-horizontal">
                    <li><a href="/iniciosesion">Iniciar Sesion</a></li>
                    <li><a href="/carrito">Mi Carrito</a></li>
                    <li><a href="/afiliarse">Afiliarse</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
</div>