<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../partials/head.html%>
</head>
<body>
    <% include ../partials/navigation.html%>

    <h2>Introduzca la direccion a eliminar</h2>
    <hr>
    <div class="mb-3">
        <label for="address">Direccion</label>
        <input type="text" class="form-control" id="address" placeholder="" required>
      </div>
      <hr>
      <a href="/direccion" class="button">Eliminar Dirección</a>

    <% include ../partials/footer.html%>
</body>
</html>